.main
  .main_header
    .main_header_logo
      High Ronpa!
      .main_header_logo_icon
        = icon("far", "comment-dots")
    .main_header_item
      .main_header_item_edit
        = link_to edit_user_path(current_user),  class: "main_header_item_edit_icon" do
          = ( "Edit" )
          
      .main_header_item_login
        = current_user.name
  
  
  .main_body
    .main_body_topics
      =link_to "Let's conversation!!", new_group_path , class:"main_body_topics_con"
      - @group.each do | group |
        .main_body_topics_group 
          .main_body_topics_group_title
            = group.title
          .main_body_topics_group_btn
            = link_to "Enter", group_comments_path(group), class: "main_body_topics_group_btn_henko"