.main
  .main_header
    .main_header_logo
      Tooron
      .main_header_logo_icon
        = icon("far", "comment-dots")
    .main_header_item
      .main_header_item_edit
        = link_to edit_user_path(current_user),  class: "main_header_item_edit_icon" do
          = ( "Edit" )    
      .main_header_item_login
        = current_user.name
  
  .main_chat
    - @comments.each do |comment|
      .main_chat_right
        .main_chat_right_box
          .main_chat_right_box_text
            = comment.text
          .main_chat_right_box_name
            = current_user.name
      .maim_chat_clear



  .form
    = form_for [@group, @comment] do |f|
      .form__text
        = f.text_field :text, class: 'form__text__message', placeholder: 'type a message'
      = f.submit 'Send', class: 'form__submit'
  