.main
  .main_header
    = render "groups/header"
  .main_show
    .main_show_left
      .main_show_left_image
      .main_show_left_name
        = @user.name
      .main_show_left_edit
        - if current_user.id == @user.id
          - if @user.profile.present?
            =link_to "Edit",edit_user_profile_path(@profile), class: "link_tag"
            = link_to  "show",user_profile_path(@user, @profile), class: "link_tag"
          - else
            = link_to "Brand new", new_user_profile_path(current_user), class: "link_tag"

        - elsif current_user.id != @user.id
          - if @user.profile.present?
            = link_to  "show",user_profile_path(@user, @profile), class: "link_tag"
          - else
            %h1プロフィールはまだありません
          
        
        -#   - if @profile.presennt?
            
        -# - else 

        -# - if @profile.blank?
            
        -#   - else
        -#   - if @profile.user_id != current_user.id && @profile.present?
            
        -#   - else
      .main_show_left_prof

    .main_show_right
      .main_show_right_stuff
        - @group.each do |group|
          .main_show_right_stuff_item
            .main_show_right_stuff_item_title
              = link_to group.title,  group_comments_path(group),  class: "main_show_right_stuff_item_title_enter"
            .main_show_right_stuff_item_time
              = group.created_at.strftime("%Y-%m-%d %H:%M")
