.main
  .main_header
    = render "groups/header"
  .main_show
    .main_show_left
      .main_show_left_image
      .main_show_left_name
        = current_user.name
        .main_show_left_name_edit
          -if @profile.blank?
            = link_to new_user_profile_path(current_user) do
              = icon("fas","user-cog", class: "main_show_left_name_edit_icon" )
          -else
            =link_to "Edit" , edit_user_profile_path(@profile)
      .main_show_left_prof
        

    .main_show_right
      .main_show_right_stuff
        - @group.each do |group|
          .main_show_right_stuff_item
            .main_show_right_stuff_item_title
              = link_to group.title,  group_comments_path(group),  class: "main_show_right_stuff_item_title_enter"
            .main_show_right_stuff_item_time
              = group.created_at.strftime("%Y-%m-%d %H:%M")







              -# .main_show_left_profile
      -#   .main_show_left_profile_sex.main_show_left_profile_all
      -#     SEX :
      -#     = @profiles.sex
      -#   .main_show_left_profile_like.main_show_left_profile_all
      -#     LIKE :
      -#     = @profiles.like
      -#   .main_show_left_profile_dislike.main_show_left_profile_all
      -#     DISLIKE :
      -#     = @profiles.dislike
      -#   .main_show_left_profile_think.main_show_left_profile_all
      -#     THOUGHT :
      -#     = @profiles.thinking
      -#   .main_show_left_profile_think.main_show_left_profile_all
      -#     LIVE :
      -#     = @profiles.live

